:root {
  --vinted-color: #007782;
}

* {
  box-sizing: border-box;
}

body {
  font-family: V-Inter, V_INTER, V_INTER Fallback, Helvetica Neue,
    Helvetica-Neue, Arial, sans-serif;
  background-color: #eeeeee;
}

.container {
  width: 1280px;
  padding: 0 20px;
  margin: 0 auto;
  max-width: 100%;
}

button {
  cursor: pointer;
}

strong {
  font-weight: bold;
}

/******************* HEADER ************/
header {
  position: fixed;
  z-index: 2;
  top: 0;
  width: 100%;
  background-color: white;
  border-bottom: 1px solid #15191a14;
  padding: 10px 0;
}

header > .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 40px;
}

header .right-buttons {
  display: flex;
  gap: 10px;
}

header button {
  border: 1px solid var(--vinted-color);
  background-color: transparent;
  color: var(--vinted-color);
  border-radius: 5px;
  font-size: 12px;
  padding: 7px 10px;
}

header button.dark {
  background-color: var(--vinted-color);
  color: white;
}

header button.red {
  background-color: crimson;
  color: white;
  border-color: crimson;
}

#searchForm {
  flex: 1;
  display: flex;
  flex-direction: column;
  gap: 25px;
  font-size: 12px;
  color: grey;
}

#searchForm > div {
  display: flex;
  gap: 15px;
}

#searchForm > div label {
  display: flex;
  align-items: center;
  gap: 10px;
}

#searchForm > div label:last-child {
  flex: 1;
}

#searchForm input[type="search"] {
  background-color: #eeeeee;
  border: none;
  border-radius: 5px;
  padding: 8px 10px;
  font-size: 15px;
}

.hero {
  margin-top: 115px;
  position: relative;
  height: 350px;
  display: flex;
  align-items: center;
}

.hero img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  z-index: -1;
}

.hero > div.container > div {
  width: 380px;
  background-color: white;
  border-radius: 15px;
  padding: 40px;
  display: flex;
  justify-content: center;
  flex-direction: column;
  gap: 10px;
}

.hero h1 {
  font-size: 22px;
  margin-bottom: 20px;
}

.hero button {
  border-radius: 5px;
  font-size: 16px;
  font-weight: 600;
  padding: 10px;
  background-color: transparent;
  color: var(--vinted-color);
  border: none;
}

.hero button.dark {
  background-color: var(--vinted-color);
  color: white;
}

.alert {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px;
  margin: 20px 0;
  border: 1px solid red;
  border-radius: 5px;
  color: #5a6566;
  border: 1px solid #15191a1f;
}

.alert button.dismiss {
  color: black;
  background-color: transparent;
  border: none;
  border-radius: 3px;
}

#articles {
  padding: 15px 0;
  display: flex;
  flex-wrap: wrap;
  gap: 15px;
}

.article {
  display: flex;
  width: calc((100% - (4 * 15px)) / 5);
  flex-direction: column;
  color: grey;
  font-size: 12px;
  line-height: 16px;
  text-decoration: none;
}

.article-image {
  width: 100%;
  height: 250px;
  object-fit: cover;
  border-radius: 5px;
  margin-bottom: 5px;
}

.article p:last-child {
  margin-top: 5px;
}

article {
  margin-top: 100px;
  padding: 15px 0;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  gap: 45px;
}

article > img {
  border-radius: 5px;
  flex: 1;
  max-width: calc(66% - 45px);
}

article > div {
  border-radius: 5px;
  border: 1px solid #15191a1f;
  padding: 15px;
  width: 33%;
  background-color: white;
}

article h1 {
  font-size: 15px;
  font-weight: 600;
}

article p {
  color: grey;
  font-size: 15px;
  line-height: 20px;
}

article p:nth-child(3) {
  margin-top: 5px;
}

article .details {
  margin: 10px 0;
  padding: 10px 0;
  border-top: 1px solid #15191a1f;
  border-bottom: 1px solid #15191a1f;
}

article .details div {
  font-size: 14px;
  display: flex;
  color: grey;
}

article .details div > * {
  flex: 1;
  padding: 5px 0;
}

article .details div > strong {
  font-weight: bold;
}

article .details ~ p {
  margin: 10px 0;
  padding: 10px 0;
  border-bottom: 1px solid #15191a1f;
}

article button {
  color: white;
  background-color: var(--vinted-color);
  padding: 12px;
  font-size: 16px;
  width: 100%;
  border-radius: 5px;
  border: none;
}

#signup {
  max-width: 300px;
  margin: 100px auto 0 auto;
}

#signup h1 {
  text-align: center;
  font-size: 26px;
  margin-bottom: 20px;
}

#signup form {
  display: flex;
  flex-direction: column;
  background-color: white;
  padding: 15px;
}

input[type="text"],
input[type="email"],
input[type="password"],
input[type="number"],
textarea {
  padding: 10px;
  border: none;
  border-bottom: 1px solid lightgrey;
  margin-bottom: 15px;
  font-size: 16px;
}

input:focus,
input:focus-visible {
  outline: none;
  box-shadow: none;
  border: none;
  border-bottom: 1px solid var(--vinted-color);
}

label {
  color: #333333;
  cursor: pointer;
}

.help-text {
  font-size: 12px;
  color: grey;
  margin: 15px 0;
}

.help-text.error {
  color: red;
}

input[type="submit"] {
  background-color: var(--vinted-color);
  color: white;
  border: none;
  padding: 10px;
  border-radius: 5px;
  margin: 20px 0;
  cursor: pointer;
}

#signup form a {
  color: var(--vinted-color);
  text-align: center;
  font-size: 13px;
  text-decoration: none;
}

#publish {
  margin-top: 100px;
}

#publish h1 {
  font-size: 26px;
  margin-bottom: 20px;
}

#publish form {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

#publish fieldset {
  box-shadow: 0px 0px 1px 1px #15191a1f;
  display: flex;
  flex-direction: column;
  align-items: stretch;
  background-color: white;
}

#publish fieldset .input-form {
  padding: 15px;
  display: flex;
}

#publish fieldset .input-form:not(:last-child) {
  border-bottom: 1px solid lightgrey;
}

#publish fieldset .input-form > * {
  flex: 1;
}

.dropzone {
  position: relative;
  margin: 15px;
  padding: 15px;
  border: 2px dashed lightgrey;
  min-height: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
  max-width: 100%;
  cursor: pointer;
}

.dropzone .btn-ghost {
  border: 2px solid var(--vinted-color);
  color: var(--vinted-color);
  border-radius: 5px;
  padding: 8px;
}

.dropzone aside img {
  max-width: 100%;
  max-height: 100px;
}

#publish .submit-block {
  text-align: right;
  margin: 15px 0;
}

#publish .submit-block button {
  background-color: var(--vinted-color);
  color: white;
  padding: 8px;
  border: none;
  border-radius: 5px;
}

#payment {
  margin-top: 100px;
}

.payment-block {
  padding: 15px;
  background-color: white;
  border-radius: 5px;
  font-size: 14px;
  margin: 0 auto 15px auto;
  max-width: 500px;
}

.payment-block h1 {
  color: lightgrey;
  margin-bottom: 40px;
}

.payment-block .amounts {
  margin: 20px 0;
  color: grey;
  line-height: 30px;
}

.payment-block .amounts li {
  display: flex;
  justify-content: space-between;
  gap: 15px;
}

.payment-block .amounts.total-amount {
  font-weight: bold;
  color: black;
  border-top: 1px solid lightgrey;
  padding: 20px 0;
}

.payment-block p {
  padding-bottom: 15px;
  margin-bottom: 15px;
  border-bottom: 1px solid lightgrey;
}

.payment-block button {
  width: 100%;
  margin-top: 15px;
  background-color: #02c06d;
  color: white;
  padding: 8px;
  border-radius: 5px;
  border: none;
}
